<h1><%= current_user.username%> Profile</h1>

<p><strong>Username:</strong> <%= current_user.username %></p>
<p><strong>Email:</strong> <%= current_user.email %></p>

<%= link_to "Edit Profile", edit_user_registration_path, :class => 'btn btn-success'%>

<h1><strong>Your list</strong> </h1>

<div class="media"
  <%= render "items/item" %>
</div>

<br>

<h4>Add to your list</h4>
<%= render 'items/form' %>
